
h4{
    
   font-weight: bold;
    
    text-align:center;
    padding: 30px;  
    background-color:transparent;  
    text-align: center;
    margin: auto;
    
    }
h5{
        text-align:center;
        padding: 30px;  
        background-color:transparent;  
        text-align: center;
        margin: auto;
        }


header{                                    
background:transparent;               
    
}

head{                                    
background:transparent;               
    
}

body{                                    
background:transparent;               
    
}

footer{
    
    background:transparent; 

}